<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #folders-container {
            display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
        }

        button {
            display: inline-block; /* 각 버튼을 인라인 블록으로 설정 */
            margin-right: 10px; /* 각 버튼 사이에 간격을 주기 위한 마진 설정 */
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <img src="/templates/img/logo.png" alt="로고">

</head>
<body>
    <header>
    </header>
    <main>
        <div id="folders-container">
            <button id="personButton">사람</button>
            <button id="animalButton">동물</button>
            <button id="foodButton">음식</button>
            <button id="documentButton">문서</button>
            <button id="landscapeButton">풍경</button>
            <button id="somethingButton">기타</button>
        </div>
        <form class="dropzone needsclick" id="demo-upload" action="/uploadfile" enctype="multipart/form-data">
            <div class="dz-message needsclick">
                업로드할 파일을 선택하세요<br>
                <span class="note needsclick"></span>
            </div>
        </form>
        <section id="image-section">    
            <div class="image-list" id="image-list">
                {% for image in images %}
                    <div class="image-item">
                        <img src="/image/{{ image.id }}" alt="{{ image.category }}" style="max-width: 200px; height: auto;">
                    </div>
                {% if loop.index % 4 == 0 %}
            </div>
            <div class="image-row">
                {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 'personButton' 버튼을 클릭할 때의 동작 정의
            const personButton = document.getElementById('personButton');
            personButton.addEventListener('click', function() {
                // 'person.html'로 이동
                window.location.href = 'http://127.0.0.1:8000/person';
            });
            const animalButton = document.getElementById('animalButton');
            animalButton.addEventListener('click', function() {
                // 'animal.html'로 이동
                window.location.href = 'http://127.0.0.1:8000/animal';
            });
            const foodButton = document.getElementById('foodButton');
            foodButton.addEventListener('click', function() {
                // 'animal.html'로 이동
                window.location.href = 'http://127.0.0.1:8000/food';
            });
            const documentButton = document.getElementById('documentButton');
            documentButton.addEventListener('click', function() {
                // 'animal.html'로 이동
                window.location.href = 'http://127.0.0.1:8000/document';
            });
            const landscapeButton = document.getElementById('landscapeButton');
            landscapeButton.addEventListener('click', function() {
                // 'animal.html'로 이동
                window.location.href = 'http://127.0.0.1:8000/landscape';
            });

            const somethingButton = document.getElementById('somethingButton');
            somethingButton.addEventListener('click', function() {
                // 'animal.html'로 이동
                window.location.href = 'http://127.0.0.1:8000/something';
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
            // 'personButton' 버튼을 클릭할 때의 동작 정의
            
        });
    </script>
    <script>
        var dropzone;  // Define dropzone globally

        document.addEventListener("DOMContentLoaded", function() {
            dropzone = new Dropzone('#demo-upload', {
                autoProcessQueue: false,
                parallelUploads: 10,
                init: function () {
                    this.on("sending", function (file, xhr, formData) {
                        // CSRF 토큰이 있다면 헤더에 추가
                        const csrfToken = document.querySelector('meta[name="csrf-token"]');
                        if (csrfToken) {
                            formData.append('csrf_token', csrfToken.content);
                        }
                    });
                }
            });
        });

        
    </script>
</body>
</html>